* {
  padding: 0;
  margin: 0;  
}

.App {
  text-align: center;
}

.monsters-container {
  border: 1px solid red;
}

.monster-search {
  border: 1px solid blue;
}

.monster-card {
  border: 1px solid green;
}